@import "tailwindcss";
@tailwind utilities;
@import "tailwindcss/preflight";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #F9FAFB;
  --foreground: #1E293B;

  --card: #FFFFFF;
  --card-foreground: #1E293B;
  --popover: #FFFFFF;
  --popover-foreground: #1E293B;

  --primary: #4E77E4;
  --primary-foreground: #FFFFFF;

  --secondary: #FBCB0A;
  --secondary-foreground: #1E293B;

  --accent: #FF5C8D;
  --accent-foreground: #FFFFFF;

  --muted: #8892B0;
  --muted-foreground: #F1F5F9;

  --destructive: #EF4444;
  --success: #10B981;

  --border: #E0E0E0;
  --input: #E0E0E0;
  --ring: #4E77E4;

  --chart-1: #4E77E4;
  --chart-2: #FBCB0A;
  --chart-3: #FF5C8D;
  --chart-4: #EF4444;
  --chart-5: #10B981;

  --sidebar: #1E293B;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #4E77E4;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #FBCB0A;
  --sidebar-accent-foreground: #1E293B;
  --sidebar-border: #E0E0E0;
  --sidebar-ring: #4E77E4;
}

.dark {
  --background: #1E293B;
  --foreground: #F9FAFB;

  --card: #1E293B;
  --card-foreground: #F9FAFB;
  --popover: #1E293B;
  --popover-foreground: #F9FAFB;

  --primary: #4E77E4;
  --primary-foreground: #FFFFFF;

  --secondary: #FBCB0A;
  --secondary-foreground: #1E293B;

  --accent: #FF5C8D;
  --accent-foreground: #FFFFFF;

  --muted: #8892B0;
  --muted-foreground: #F1F5F9;

  --destructive: #EF4444;
  --success: #10B981;

  --border: #222b3c;
  --input: #222b3c;
  --ring: #4E77E4;

  --chart-1: #4E77E4;
  --chart-2: #FBCB0A;
  --chart-3: #FF5C8D;
  --chart-4: #EF4444;
  --chart-5: #10B981;

  --sidebar: #1E293B;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #4E77E4;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #FBCB0A;
  --sidebar-accent-foreground: #1E293B;
  --sidebar-border: #222b3c;
  --sidebar-ring: #4E77E4;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
